fastapi~=0.92.0
psycopg2-binary
pydantic[dotenv]~=1.10.5
uvicorn~=0.20.0
gunicorn
aiofiles~=23.1.0
python-multipart
PyPDF4~=1.27.0
requests~=2.28.2
pytest~=7.2.1
starlette~=0.25.0
httpx~=0.23.3
aiohttp